*.pyc
*~
*.pot
*.pyc
.~*
*.aux
*.log
*.dvi
*.toc
*.aut
*.pdf
*.csv
*.bson
*.json
*.pem
data/raw/all.txt
data/raw/filtered.txt
__pycache__
db.sqlite3
media
*.bak
./dump/
./static/nv
*.tgz
./secure_aws/
./data/raw
..gitignore.swp


