{% extends "base.html" %}

{%block title%}Browse alphabetically{%endblock%}

{%block body%}

<div class="jumbotron text-center">
  <h1>Enterprises</h1> 
</div>
<div class="container-fluid text-center bg-grey">
  <h2>Selectionner</h2>
    <table ALIGN="CENTER">
        <tr>
            {% for letter in 'ABCDEFGHI' %}
                <td><a href="/metrics/browse?l={{letter}}" class="btn btn-default btn-lg">{{letter}}</a></td>
            {% endfor %}
        </tr>
        <tr>
            {% for letter in 'JKLMNOPQR' %}
                    <td><a href="/metrics/browse?l={{letter}}" class="btn btn-default btn-lg">{{letter}}</a></td>
            {% endfor %}
        </tr>
        <tr>
            {% for letter in 'STUVWXYZ' %}
                    <td><a href="/metrics/browse?l={{letter}}" class="btn btn-default btn-lg">{{letter}}</a></td>
            {% endfor %}
        </tr>

    </table>            
</div>
{%endblock %}