{% load static %}
<html>
  <head>  
	  	<meta charset="utf-8">
	  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  	<link rel="stylesheet" type="text/css" href="{% static 'nv/build/nv.d3.css' %}" />
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  	<script src="http://d3js.org/d3.v3.min.js"></script>
	  	<script src="{% static 'nv/build/nv.d3.js' %}"></script>
		<script src="{% static 'draw_chart.js' %}" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'outline.css' %}" />
  </head>

  
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/dictionnary">Parcourir</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <h3>Aperçu de {{name}}</h3>
  <h4>Secteur d'activité: {{sector}}</h4>  
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#balance" onClick="window.dispatchEvent(new Event('resize'));">Bilan</a></li>
    <li><a data-toggle="tab" href="#results" onClick="window.dispatchEvent(new Event('resize'));">Chiffres</a></li>
    <li><a data-toggle="tab" href="#score" onClick="window.dispatchEvent(new Event('resize'));">Score</a></li>
  </ul>

  <div class="tab-content">
    <div id="balance" class="tab-pane fade in active">
  		<div id="left"><svg></svg></div>
	 	<div id="right"><svg></svg></div>
    </div>
    
	<script>
		var assets_data = {{assets_data|safe}};
		draw_assets_chart(assets_data, 'left', 400, 400);
   	    var liabilities_data = {{liabilities_data|safe}};
		draw_liabilities_chart(liabilities_data, "right", 400, 400);
	</script>

    <div id="results" class="tab-pane fade">
      <div id="renta"><svg></svg></div>
    </div>
	<script>
		var results_data = {{results_data|safe}};
		draw_revenues_rentability(results_data, 'renta', 600, 400);
	</script>    
    
    <div id="score" class="tab-pane fade">
    	<div id="qscore"><svg></svg></div>
    </div>
	<script>
		var data = {{quantile_data|safe}};
		var values = {{qvalues|safe}};
  		draw_quantile_position(data, values, "qscore", 800, 500, {{score}}, {{qscore}});
	</script>
  </div>
</div>


</body>
</html>
